{% extends "todo/base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
	<h1>{{ project.title }}</h1>
	<p class="date">Created {{ project.created }} by {{ project.author }}</p>
	{{ project.body|linebreaks }}
	<a href="{{ project.get_tasks_url }}">Show tasks</a>
	<p><a href="{% url "todo:project_share" project.id %}">Share project</a></p>
	
	{% include "comment.html" with comments=comments %}
    
{% endblock %}