{% extends "todo/base.html" %}

{% block title %}My todo{% endblock %}

{% block content %}
	<h1>My todo</h1>
	{% for project in projects %}
		<h2><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h2>
		<p class="date">Created {{ project.created }} by {{ project.author }}</p>
		{{ project.body|truncatewords:30|linebreaks }}
	{% endfor %}
	
	{% include "pagination.html" with page=projects %}
{% endblock %}