{% extends "todo/base.html" %}

{% block title %}Share a project{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>"{{ project.title }}" was successfully sent by e-mail.</p>
    {% else %}
        <h1>Share "{{ project.title }}" by e-mail</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}
