{% extends "todo/base.html" %}

{% block title %}{{ task.title }}{% endblock %}

{% block content %}
	<h1>{{ task.title }}</h1>
	<p class="date">Created {{ task.created }} by {{ task.author }}</p>
	{{ task.body|linebreaks }}
	
	{% include "comment.html" with comments=comments %}
{% endblock %}