{% extends "todo/base.html" %}

{% block title %}My todo{% endblock %}

{% block content %}
	<h1>My todo</h1>
	{% for task in tasks %}
		<h2><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h2>
		<p class="date">Created {{ task.created }} by {{ task.author }}</p>
		{{ task.body|truncatewords:30|linebreaks }}
	{% endfor %}
	
	{% include "pagination.html" with page=tasks %}
{% endblock %}